@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color:#000000;
  color: whitesmoke;
}

article {
  display: flex;
  flex-direction: column;
  font-family: 'paybooc-Bold';
}

.question {
  display: none;
}

.result {
  display: none;
}

.progress-bar{
    background-color: #ffd000;
}


.btn, .btn:focus{
    background-color: #ffd000;
    border: 0;
    box-shadow:none;
}


#main {
  color: #ffca00;
}

#mbti_text {
  color: #6e6e6e;
  font-size: 18px;
}

#explain_box {
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

#copyright {
    color: #6e6e6e;
    font-size: 11px;
}
