@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:#000000;
    color: whitesmoke;
}

section {
    display: flex;
    flex-direction: column;
    font-family: 'paybooc-Bold';
}

#main {
    color: #ffca00;
}

.btn, .btn:focus{
    background-color: #ffca00;
    border: 0;
    box-shadow:none;
}
